@{
    ViewBag.Title = "Sedes";
}



<div class="card mt-2">

    <div class="card-body">

        <form action="/" method="post" id="frmregistro" class="row">

            <div class="col-md-3">
                <label for="">Sede</label>
                <input type="text" class="form-control form-control-sm" id="txtsede" required />
            </div>

            <div class="col-md-3">
                <label for="">N° Complejos</label>
                <input type="text" class="form-control form-control-sm" id="txtnumerocomplejos"  required />
            </div>

            <div class="col-md-3">
                <label for="">Presupuesto Aproximado</label>
                <input type="text" class="form-control form-control-sm" id="txtpresupuestoaproximado"  required />
            </div>

            <div class="col-md-3">
                <label for="">&nbsp;</label>
                <button class="btn btn-sm btn-primary btn-block" type="submit">Guardar</button>
            </div>

        </form>


    </div>


</div>


<div class="card mt-2">
    <div class="card-body">

        <table class="table table-bordered table-sm text-center">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Sede</th>
                    <th>N° Complejos</th>
                    <th>Presupuesto Aproximado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbodyRegistros">


            </tbody>
        </table>

    </div>
</div>

@section scripts {


    <script>

        const frmregistro = document.getElementById("frmregistro");
        let idSede = null;

        // ANULAMOS
        frmregistro.addEventListener('submit', (e) => {
            e.preventDefault();
            Registrar();
        });

        // CARGAMOS DATA
        window.addEventListener('load', (e) => {
            getData();
        });

        // REGISTRAR
        function Registrar() {

            let parametros = {
                opcion: idSede == null ? 1 : 2,
                idSede,
                nombreSede: $("#txtsede").val(),
                numeroComplejos: $("#txtnumerocomplejos").val(),
                presupuestoAproximado: $("#txtpresupuestoaproximado").val()
            };

            post('Home', 'MantSedes', parametros, true)
                .then(response => {
                    getData(response);
                    frmregistro.reset();
                    idSede = null;
                })
        }

        // LISTAR
        function getData(data = false) {

            let parametros =  {
                opcion:3
            }
            if (!data) {
                post('Home', 'MantSedes', parametros, true)
                    .then(response => {
                        setHtml(response);
                    })
            } else {
                setHtml(data)
            }


        }

        // ARMAR HTML
        function setHtml(data) {
            let tr = "";

            for (let item of data) {

                tr += `
                        
                        <tr>
                            <td>${item.idSede}</td>
                            <td>${item.nombreSede}</td>
                            <td>${item.numeroComplejos}</td>
                            <td>${item.presupuestoAproximado}</td>
                            <td>
                                <a href="#"
                                        data-id="${item.idSede}" 
                                        data-sede="${item.nombreSede}" 
                                        data-ncomplejos="${item.numeroComplejos}" 
                                        data-presupuesto="${item.presupuestoAproximado}" 

                                        class="editar">
                                    Editar
                                </a>

                                <a href="#"
                                        data-id="${item.idSede}" 

                                        class="eliminar" style="">
                                    Eliminar
                                </a>
                            </td>
                        </tr>

                    `;

            }

            $("#tbodyRegistros").html(tr);
        }

        // MODIFICAR
        $("#tbodyRegistros").on('click', '.editar', function () {

            idSede = $(this).data("id");
            let sede = $(this).data("sede");
            let ncomplejos = $(this).data("ncomplejos");
            let presupuesto = $(this).data("presupuesto");

            $("#txtsede").val(sede);
            $("#txtnumerocomplejos").val(ncomplejos);
            $("#txtpresupuestoaproximado").val(presupuesto);

        });

        // ELIMINAR
        $("#tbodyRegistros").on('click', '.eliminar', async function () {

            if (confirm("Confirme para eliminar")) {

                idSede = $(this).data("id");


                let parametros = {
                    opcion: 4,
                    idSede
                };

                post('Home', 'MantSedes', parametros, true)
                    .then(response => {
                        getData(response);
                        frmregistro.reset();
                        idSede = null;
                    })

            }

        });

    </script>

}